
* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid red;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:grey
}

.container {
    background: black;
    max-width: 400px;
    width: 100%;
    border-radius:30px;
    padding: 20px;

}

.display-container{
    display: flex;
    flex-direction: column;
    margin-block: 40px 30px
}

.history{
    background: red;
    width: 100%;
    height: 30px;
    text-align: right;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
}

.display {
    width: 100%;
    height: 70px;
    font-size: 70;
    font-family: 'Roboto',sans-serif;
    text-align: right;
    outline: none;
    border: none;
    pointer-events: none;
    background: transparent;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 15px;

}

.buttons button {
    width: 75px;
    height: 75px;
    font-size: 24px;
    font-weight: 300;
    background-color: darkgray;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

