:root{
    --background-color: #EEEEEE;
    --white-color: #FFFFFF;
    --black-color: #000e1a;
    --orange-color: #FFA500;
    --medium-dark: #333333;
    --light-grey: #CCCCCC;
}
* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family:'Poppins', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--background-color);
}

.container {
    background: black;
    max-width: 400px;
    width: 100%;
    border-radius:30px;
    padding: 20px;

}

.display-container{
    display: flex;
    flex-direction: column;
    margin-block: 40px 30px
}

.history{
    width: 100%;
    height: 30px;
    text-align: right;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    color: var(--light-grey);
}

.display {
    width: 100%;
    height: 70px;
    font-size: 70;
    font-family: 'Roboto',sans-serif;
    text-align: right;
    outline: none;
    border: none;
    pointer-events: none;
    background: transparent;
    color: var(--white-color);
}

::placeholder{
    color: var(--white-color);
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 15px;

}

.buttons button {
    width: 75px;
    height: 75px;
    font-size: 24px;
    font-weight: 300;
    background-color: var(--medium-dark);
    color: var(--white-color);
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

